#emails-view{


    .read{
        background-color: rgb(224, 224, 224);
    }
    .container-div{
        border: 1px solid black;
        border-top: 0;
        display: flex;
        padding: 0.5rem 0 0.5rem 0;

        .sender-div{
            font-weight: bold;
            width: 20%;
        }


        .subject-div{
            width: 50%;
        }

        .timestamp-div{
            width: 20%;
            text-align: right;
            align-self: flex-end;

        }
    }
    .container-div:first-of-type{
        border-top: 1px solid black;
        }



  
}

#emails-view :nth-of-type{
    border-top: 0;
}





